.workshops {
    font-family: WF Visual Sans, Arial, sans-serif;
    background-color: rgb(9, 10, 10);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

.workshops>h1 {
    color: white;
    font-size: 5rem;
}

.workshop-card {
    border-radius: 25px;
    color: white;
    background-color: rgb(56, 52, 52);
    margin-top: 5rem;
    display: flex;
    max-width: 70%;
    min-width: 70%;
    min-height: 50vh;
    animation: grow linear;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

/* .workshop-card:hover {
    transform: scale(1.1);
} */

@keyframes grow {
    0% {
        opacity: 0;
        scale: 0.8;
    }
    50% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.8;
    }
}

.workshop-information {
    padding: 2rem;
    max-width: 35%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
      /* border: 1px, solid, white; */
    
}

.workshop-information>p {
    line-height: 1.5;
}

.workshop-information>button {
    border: none;
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px 20px;
    background-color: red;
    color: #000;
    font-weight: bolder;
}

.workshop-image {
    min-width: 65%;
    min-height: 65%;
    display: block;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    box-shadow: -5px 0 10px 5px rgba(0, 0, 0, 0.8);
}

.workshop-image>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
    
}

