html, body, #root {
  background-color: #0e0c0c;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: WF Visual Sans, Arial, sans-serif;
}


header {
  background-color: #0d0d0d;
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px, solid, black;
  position: sticky;
  font-weight: bolder;
}


.title {
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
  display: flex;
}


.list {
  padding: 0;
  margin-right: 30px;
  border: 1px, solid, black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-item,
.list-item:visited,
.list-item:active,
.list-item:hover {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  padding: 0, 20px, 0, 20px;
  list-style: none;
}



.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bg-video {
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;

  transform: translate(-50%, -50%);
  z-index: 1; /* Ensures the video stays in the background */
}


.hero {
  position: relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  /* border: 1px solid green; */
  background-color: white;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}



.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 0; /* Place the overlay between the video and the content */
}

/* Ensure the video is behind the overlay and content is above */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
  z-index: 0; /* Place the overlay between the video and the content */
}


.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}



footer {
  margin-top: auto;
  background-color: rgb(70, 63, 63);
  min-height: 5rem;
  border: 1px, solid, black;
}




.about-section {
  border: 1px, solid, white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.event {
  border: 1px, solid, white;
  margin-right: 5%;
}
.about-info {
  border: 1px, solid, white;
  margin-left: 2%;
  max-width: 35%;
  padding-bottom: 20%;
}

.about-info>h1 {
  padding: 0;
  border: 1px, solid, white;
  font-size: 3rem;
}


.event-card {

  background-color: rgb(32, 89, 173);
  background-image: url("./assets/datathon.png");
  width: 30vw;
  height: 30vw;
  color: white;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
  transition: 1s;
  cursor: pointer;
}

.card-holder {
  
  transition: 1s;
}

.card-holder.trans {
  animation: swipe 1s linear 0s normal;
}

.card-hidden-right.trans {
  transition: 1s;
  translate: 100%;
}

.card-hidden-left.trans {
  transition: 2s;
  translate: 100%;
  rotate: y -30deg;
  scale: 1.5;
  perspective: 1000px;
  filter: blur(0);
}

@keyframes swipe {
  to {
    transform: translateX(100%) perspective(1000px) rotateY(30deg) scale(0.35);
    filter: blur(10px);
  }
}





.card-holder:hover {
  transform: scale(1.1);
}

.card-holder:hover:after {
  scale: 1;
}

.card-hidden-right {
  padding: 0;
  box-shadow: 0 0 50px rgba(27, 104, 219, 0.8);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(30deg) scale(0.35);
  filter: blur(10px);
}


.card-hidden-left {
  transform-style: preserve-3d;
  box-shadow: 0 5px 50px 10px rgba(27, 104, 219, 0.8);
  transform: perspective(1000px) rotateY(-30deg) scale(0.35);
  filter: blur(10px);
}


/* .event-card:hover {
  animation-play-state: paused ; 
  scale: 1.1;
}


.event-card:hover:after {
  animation-play-state: paused ;
  scale: 1;
} */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.event-container {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.event-container>button {
  margin: 20px;
  z-index: 0;
  max-width: fit-content;
  max-height: fit-content;
}

.sponsors-section {
  display: flex;
  justify-content: space-between;
}

.sponsors-section>img {
  width: 100px;
  height: 100px;
}

.about-info>p {
  padding: 0;
  margin: 0;
  border: 1px, solid, white;
  font-size: 2rem;
  display: inline-block;
}

.info {
  border: 3px, solid, rgb(44, 44, 49);
  background-image: linear-gradient(45deg, rgb(11, 28, 104), rgb(17, 17, 14));
  margin: 0;
  padding: 25vh 0 25vh 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.info>h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

hr { 
  width: 60%;
  height: 10px;
  border: none;
  background-color: rgb(140, 3, 3); 
}


